:root {
  --color-light-brand-orange: #fd5d11;
  --color-light-brand-gold: #fd5d11;
  --color-light-brand-green: #fd5d11;
  --color-light-brand-blue: #fd5d11;
  --color-light-brand-purple: #fd5d11;
  --color-light-brand-magenta: #fd5d11;
  --color-light-neutral-1: #ffffff;
  --color-light-neutral-2: #fbfbfd;
  --color-light-neutral-3: #f8f0fc;
  --color-light-neutral-4: #f1f2f4;
  --color-light-neutral-5: #e9ecf4;
  --color-light-neutral-6: #d7dae3;
  --color-light-neutral-7: #bfbfd0;
  --color-light-neutral-8: #abaebc;
  --color-light-neutral-9: #8b8ba0;
  --color-light-neutral-10: #6d6f79;
  --color-light-neutral-11: #424242;
  --color-light-neutral-12: #333333;
  --color-light-neutral-13: #000000;
  --color-light-neutral-14: rgba(0, 0, 0, 0.45);
  --color-light-red-1: #fff3f0;
  --color-light-red-2: #ffd8cf;
  --color-light-red-3: #fcb3a4;
  --color-light-red-4: #f08675;
  --color-light-red-5: #e35a4b;
  --color-light-red-6: #d63024;
  --color-light-red-7: #b01a15;
  --color-light-red-8: #8a0a0a;
  --color-light-red-9: #630205;
  --color-light-red-10: #3d0105;
  --color-light-orange-1: #fff2e6;
  --color-light-orange-2: #ffd6b5;
  --color-light-orange-3: #ffbc8c;
  --color-light-orange-4: #ff9f63;
  --color-light-orange-5: #ff7f3b;
  --color-light-orange-6: #fd5d11;
  --color-light-orange-7: #d64004;
  --color-light-orange-8: #b02c00;
  --color-light-orange-9: #8a1e00;
  --color-light-orange-10: #631200;
  --color-light-yellow-1: #feffe6;
  --color-light-yellow-2: #ffffbb;
  --color-light-yellow-3: #fffb8f;
  --color-light-yellow-4: #fff566;
  --color-light-yellow-5: #ffec3d;
  --color-light-yellow-6: #fadb14;
  --color-light-yellow-7: #d4b106;
  --color-light-yellow-8: #ad8b00;
  --color-light-yellow-9: #876800;
  --color-light-yellow-10: #614700;
  --color-light-gold-1: #fffbe8;
  --color-light-gold-2: #fff2bf;
  --color-light-gold-3: #ffe796;
  --color-light-gold-4: #ffd861;
  --color-light-gold-5: #ffc745;
  --color-light-gold-6: #f1a91b;
  --color-light-gold-7: #cc860c;
  --color-light-gold-8: #a66402;
  --color-light-gold-9: #804800;
  --color-light-gold-10: #593000;
  --color-light-green-1: #e9f7ed;
  --color-light-green-2: #c0ebd0;
  --color-light-green-3: #92deb1;
  --color-light-green-4: #69d196;
  --color-light-green-5: #43c47f;
  --color-light-green-6: #21b76c;
  --color-light-green-7: #139156;
  --color-light-green-8: #096b40;
  --color-light-green-9: #02452a;
  --color-light-green-10: #011f14;
  --color-light-blue-1: #f0f8ff;
  --color-light-blue-2: #cce6ff;
  --color-light-blue-3: #a2ccfc;
  --color-light-blue-4: #73a9f0;
  --color-light-blue-5: #4986e3;
  --color-light-blue-6: #2263d5;
  --color-light-blue-7: #1348b0;
  --color-light-blue-8: #082f8a;
  --color-light-blue-9: #011b63;
  --color-light-blue-10: #000e3d;
  --color-light-purple-1: #f8f0fe;
  --color-light-purple-2: #ead8f9;
  --color-light-purple-3: #caa7eb;
  --color-light-purple-4: #aa7bdd;
  --color-light-purple-5: #8c53cf;
  --color-light-purple-6: #6f2fc2;
  --color-light-purple-7: #511e9d;
  --color-light-purple-8: #371178;
  --color-light-purple-9: #200753;
  --color-light-purple-10: #11032e;
  --color-light-magenta-1: #ffe6ef;
  --color-light-magenta-2: #ffa6c9;
  --color-light-magenta-3: #ff7db5;
  --color-light-magenta-4: #ff7db5;
  --color-light-magenta-5: #f52a8f;
  --color-light-magenta-6: #e9027c;
  --color-light-magenta-7: #c2006e;
  --color-light-magenta-8: #9c005d;
  --color-light-magenta-9: #75004a;
  --color-light-magenta-10: #4f0035;
  --linewidth-1: 1;
  --linewidth-2: 2;
  --linewidth-3: 3;
  --linewidth-4: 4;
  --linewidth-5: 5;
  --size-0: 0;
  --size-1: 4;
  --size-2: 8;
  --size-3: 12;
  --size-4: 16;
  --size-5: 24;
  --size-6: 32;
  --size-7: 40;
  --size-8: 48;
  --size-9: 56;
  --size-10: 64;
  --size-11: 20;
  --radius-0: 0;
  --radius-xs: 2;
  --radius-sm: 4;
  --radius-md: 8;
  --radius-lg: 16;
  --radius-xl: 32;
  --radius-2xl: 128;
  --screen-xs: 480;
  --screen-sm: 576;
  --screen-md: 768;
  --screen-lg: 992;
  --screen-xl: 1280;
  --screen-2xl: 1440;
}
