:root {
  --color-light-brand-orange: #fd5d11;
  --color-light-brand-gold: #fd5d11;
  --color-light-brand-green: #fd5d11;
  --color-light-brand-blue: #fd5d11;
  --color-light-brand-purple: #fd5d11;
  --color-light-brand-magenta: #fd5d11;
  --color-light-neutral-1: #ffffff;
  --color-light-neutral-2: #fbfbfd;
  --color-light-neutral-3: #f8f0fc;
  --color-light-neutral-4: #f1f2f4;
  --color-light-neutral-5: #e9ecf4;
  --color-light-neutral-6: #d7dae3;
  --color-light-neutral-7: #bfbfd0;
  --color-light-neutral-8: #abaebc;
  --color-light-neutral-9: #8b8ba0;
  --color-light-neutral-10: #6d6f79;
  --color-light-neutral-11: #424242;
  --color-light-neutral-12: #333333;
  --color-light-neutral-13: #000000;
  --color-light-neutral-14: rgba(0, 0, 0, 0.45);
  --color-light-purple-1: #f8f0fe;
  --color-light-purple-2: #ead8f9;
  --color-light-purple-3: #caa7eb;
  --color-light-purple-4: #aa7bdd;
  --color-light-purple-5: #8c53cf;
  --color-light-purple-6: #6f2fc2;
  --color-light-purple-7: #511e9d;
  --color-light-purple-8: #371178;
  --color-light-purple-9: #200753;
  --color-light-purple-10: #11032e;
  --linewidth-1: 1;
  --linewidth-2: 2;
  --linewidth-3: 3;
  --linewidth-4: 4;
  --linewidth-5: 5;
  --size-0: 0;
  --size-1: 4;
  --size-2: 8;
  --size-3: 12;
  --size-4: 16;
  --size-5: 24;
  --size-6: 32;
  --size-7: 40;
  --size-8: 48;
  --size-9: 56;
  --size-10: 64;
  --size-11: 20;
  --radius-0: 0;
  --radius-xs: 2;
  --radius-sm: 3;
  --radius-md: 8;
  --radius-lg: 16;
  --radius-xl: 32;
  --radius-2xl: 128;
  --screen-xs: 480;
  --screen-sm: 576;
  --screen-md: 768;
  --screen-lg: 992;
  --screen-xl: 1280;
  --screen-2xl: 1440;
}
